<div class="text-center">
    
    <div>Tour de A</div>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="grid">
                <div class="cell"><div class="cross"></div></div>
                <div class="cell"><div class="circle"></div></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
        </div>
    </div>
    <button type="button" class="mt-4 btn btn-outline-info">Recommencer la partie</button>
</div>